:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #ede9fe;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainRed: #db2777;
  --bodyColor: #0f172a;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

.TostMessage {
  /* opacity: 0; */
  align-self: flex-end;
  margin: 2rem;
  transition: all 0.2s ease-in-out;
  padding: 0.4rem 0.8rem;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  border-radius: 8px;
  border-left: 3px solid var(--mainWhite);
  font-size: 1rem;
  position: fixed;
  right: -100rem;
}
.TostMessageShow {
  right: 0;
}
